@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
 
 @import "tailwindcss";
 @plugin "daisyui" {
  themes: light --default, dark --prefersdark;
 }

 @custom-variant dark (&:where([data-theme=dark], [data-theme=dark] *));

*{font-family: "Roboto", sans-serif;}

/* .Navbar .active {
  color: blue;
  font-weight: 600;
  border-bottom: 2px solid blue;
  transition: all 0.3s ease;
} */
